# System files
.DS_Store

# Logs
*.log

# Temporary files
tmp/
*.b64
config.toml

# Misc
Platforma Logów HLD.md
Platforma Logów HLD.pdf
Wymagania techniczne.md
Wymagania techniczne.pdf
LoadBalancer.md
LoadBalancer.pdf
optymalizacja*.md
optymalizacja*.pdf
przewodnik*.md
przewodnik*.pdf

# Vector data
vector_data/

# Environment variables
.env
